
.body-web {
  background: white;
}


.body-mob {
  overflow: hidden;
}

canvas {
  position: absolute;
  /* z-index: -1; */
}


.body-mob .status {
  min-width: 100px;
  height: 30px;
  right: 0;
  margin: 0 auto;
  color: #000000;
  background: transparent;
  display: inline-block;
  top: 70px;
  left: 0;
  z-index: 10;
  position: absolute;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.body-mob .video {
  width: 100%;
  /* height: 100%;*/
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.body-mob .boxCam {
  position: relative;
  background-color: gray;
}

.body-mob #boxCamera {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*


.body-web .status {
  max-width: 100%;
  height: 30px;
  right: 0;
  margin: 0 auto;
  background: transparent;
  display: inline-block;
  top: 40px;
  left: 0;
  z-index: 10;
  color: black;
  background-color: transparent;
  position: absolute;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.body-web .video {
  max-width: 640px;
  max-height: 360px;
}

.body-web #boxCamera {
  max-width: 640px;
  max-height: 360px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -180px; /*set to a negative number 1/2 of your height*/
  /*margin-left: -320px;
}*/

  .body-web #boxCamera .borda {
      visibility: visible;
      z-index: 999;
      position: absolute;
      width: calc(100% - 10px);
      top: 0;
      left: 0;
      height: calc(100% - 10px);
      display: block;
      border: 5px solid gray;
  }

/* countdown */
.body-web .countdown {
  max-width: 100%;
  right: 0;
  margin: 0 auto;
  background: transparent;
  display: none;
  left: 0;
  z-index: 9999;
  color: gray;
  background-color: transparent;
  position: absolute;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 180px;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.body-mob .countdown {
  width: 100vw;
  right: 0;
  margin: 0 auto;
  background: transparent;
  display: none;
  left: 0;
  z-index: 9999;
  color: gray !important;
  opacity: 0.5;
  background-color: transparent;
  position: absolute;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150px;
  text-align: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* preview */
.body-web .preview {
  width: 1080px;
  height: 720px;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  display: none;
}

.preview {
  max-width: 100%;
  width: 75%;
  display: block;
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* take */

.body-mob .take i {
  color: #fff;
  font-size: 30px;
}

.take {
  display: none;
}

.body-mob .take {
  position: fixed;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 99999999;
  width: 54px;
  height: 54px;
  margin: 0 auto;
  bottom: 40px;
  opacity: "0.3";
  display: block;
  border-radius: 50%;
  background: rgba(73,155,234,1);
  line-height: 67px;
}

.takeWeb {
  left: 25px;
  text-align: center;
  z-index: 99999999999;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  opacity: 0.3;
  display: block;
  position: absolute;
  top: calc(50% - 30px);
}

.body-mob .backInst {
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
}

.maskdefault {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  display: none;
  top: 0;
}

.border-left,
.border-right,
.border-top,
.border-bottom {
  border: 7px solid gray;
  position: fixed;
  opacity: 0;
}

.border-left {
  left: -2px;
  top: 0;
  height: 100vh;
}
.border-right {
  right: -2px;
  top: 0;
  height: 100vh;

}
.border-top {
  left: 0;
  top: -2px;
  width: 100vw;
}
.border-bottom {
  left: 0;
  bottom: -2px;
  width: 100vw;
}



